@media only screen and (min-width: 600px) {
    h1{ 
        font-family: 'Quicksand', sans-serif;
        font-weight:700;
        font-size:48px;
        color:#0971B2;
        margin-left:15%;
        margin-top:6.5%;
    }

    p{
        font-family: 'Proxima Nova', sans-serif;
        font-weight:300;
        font-size:28px;
        color:#575757;
        margin-left:15%;
        max-width: 65%;
        line-height: 1.5;
    }

    .icon{
        color:#a00000;
        height:30px;
        letter-spacing: 36px;
        margin-left:35%;
    }

    a{
        color:#a00000;
    }

    a:hover{
        color:#0971B2;
    }
}


@media only screen and (max-width: 600px) {
    h1{ 
        font-family: 'Quicksand', sans-serif;
        font-weight:700;
        font-size:30px;
        color:#0971B2;
        margin-left:7%;
        margin-top:13%;
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-weight:400;
        font-size:20px;
        color:#575757;
        margin-left:10%;
        max-width: 85%;
    }

    a{
        color:#a00000;
    }

    a:hover{
        color:#0971B2;
    }

    .icon{
        color:#a00000;
        height:30px;
        letter-spacing: 24px;
        margin-left:20%;
        font-size:36px;
    }
}
