

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import url("hoverex-all.css") screen;

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 

::selection {
  background-color: #e82c75; /* WebKit/Blink Browsers */
  color:#ffffff;
}
::-moz-selection {
  background-color: #e82c75; /* Gecko Browsers */
  color:#ffffff;
}

body { 
	background: rgba(78,209,210,.5); 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

textarea{
	resize: none;
	min-height:95px;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #454545;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#e82c75;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 28px 13px 28px;
	}

.btn-small {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 7px 14px 7px 14px;
	}

.btn-clear {
	background: transparent;
	color: white;
	border: 2px solid white;
}
.btn-clear:hover {
	background: white;
	color: #2f2f2f;
}

.btn-grey {
	background: transparent;
	color: #5a5a5a;
	border: 2px solid #5a5a5a;
}

.btn-grey:hover {
	background: #5a5a5a;
	color: #ffffff;
}



.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #5a5a5a;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

/* HEADER SECTION */
#h {

	background-color: #ffffff;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 150px;
}

#h .logo h2{
	font-weight: 900;
	color: white;
	letter-spacing: 1px;
}

#h h3 {
	margin-top: 10px;
}

#h i {
	font-size: 50px;
}

/* GREY SECTION */
#g {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f5f5f5;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}

.a1::selection {
  background-color: #48ded4; /* WebKit/Blink Browsers */
  color:#ffffff;
}
.a1::-moz-selection {
  background-color: #48ded4; /* Gecko Browsers */
  color:#ffffff;
}

.tpl6 h3
{
	color:#fff;
	margin:0;
	padding:40px 5px 0;
	font-size:16px;
	text-transform:uppercase;
}
.tpl6 .dmbutton
{
	display:inline-block;
	margin:30px 5px 20px 5px;
	font-size:13px;
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:#e82c75;
	background-color:rgba(232,44,117,.7);
	text-align:center;
}

/* CLIENTS */

.clients img {
	max-width: 140px;
	max-height: 60px;
	vertical-align: middle;
}

.clients .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* CONTACT SEPARATOR */
#sep {
	padding-top: 100px;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#sep h3 {
	font-weight: 300;
	letter-spacing: 2px;
}

/* FOOTER */
#f {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #e82c75;
}

#f i {
	margin-right: 30px;
	font-size: 35px;
}

#f a {
	color: white;
}

/* HEADER 2 - PORTFOLIO SECTION */
#h2 {
	background-color:#ffffff;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #5a5a5a;
}

#h2 .logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 150px;
}

#h2 .logo h2{
	font-weight: 900;
	color: white;
	letter-spacing: 1px;
}

#h2 h3 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#topbar {
	position: relative;
	z-index: auto;
	height: 12px;
	background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

#bottombar {
	position: relative;
	z-index: auto;
	height: 12px;
	background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

.goButton{
	background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
	color:#ffffff;
	border:none;
	padding:20px 60px 20px 60px;
}

.abtButton{
	padding:20px 60px 20px 60px;
}


.goButton:hover,
.goButton:active{
	opacity:.5;
	transition: opacity .6s ease-out;
  -moz-transition: opacity .6s ease-out;
  -webkit-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
	color:#ffffff;
	border:none;
}

/**************/

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
  width:100%;
  height: 100%;
}

.ti{
  font-weight: 800;
  color: transparent;
  font-size:100px;
  background: url(../img/titlebg.png) repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:140px;
  letter-spacing: -8px;
}

.ti::selection {
  background-color: #48ded4; /* WebKit/Blink Browsers */
  color:#ffffff;
}
.ti::-moz-selection {
  background-color: #48ded4; /* Gecko Browsers */
  color:#ffffff;
}

.subti{
  font-weight: 400;
  color: transparent;
  font-size:30px;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  color:#454545;
  margin-top:10px;
  margin-bottom:100px;
}

/*********/

.centered {
	text-align: center
}



.mb {
	margin-bottom: 80px;
}

.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
